{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/custom-card.css') }}">
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="mb-4">
            <h1>Create Custom Character Card</h1>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                {{ form_start(form) }}
                {{ form_row(form.char_name) }}
                {{ form_row(form.char_type) }}
                {{ form_row(form.char_class) }}
                {{ form_row(form.char_tier) }}
                {{ form_row(form.image_file) }}
                <hr>
                <div class="mb-4">
                    <h2>Customize Card Stats</h2>
                </div>
                <div class="slider">
                    {{ form_row(form.hitpoints) }}
                    <div class="text-right">
                        <span class="slider-value">75</span>
                    </div>
                </div>
                <div class="slider">
                    {{ form_row(form.attack) }}
                    <div class="text-right">
                        <span class="slider-value">75</span>
                    </div>
                </div>
                <div class="slider">
                    {{ form_row(form.defense) }}
                    <div class="text-right">
                        <span class="slider-value">75</span>
                    </div>
                </div>
                <div class="slider">
                    {{ form_row(form.luck) }}
                    <div class="text-right">
                        <span class="slider-value">75</span>
                    </div>
                </div>
                <div class="slider">
                    {{ form_row(form.agility) }}
                    <div class="text-right">
                        <span class="slider-value">75</span>
                    </div>
                </div>
                <div class="slider">
                    {{ form_row(form.speed) }}
                    <div class="text-right">
                        <span class="slider-value">5</span>
                    </div>
                </div>

                <div class="text-right mt-5 mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/custom-card.js') }}" ></script>
{% endblock %}
