{% extends 'homepage.html.twig' %}

{% import "macros/card.html.twig" as macros %}

{% block title %}Custom Card Select Queue{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/custom-card.css') }}">
{% endblock %}

{% block inventory_tab %}
    <li class="tab" ><a class="current" href="{{ path('show_user_cards') }}">Inventory<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab" onclick="location.href='{{ path('show_user_cards') }}'">Cards</li>
        <li class="sub_tab" onclick="location.href='{{ path('user_decks_show') }}'">Decks</li>
        <li class="sub_tab" onclick="location.href='{{ path('custom_card') }}'">Custom Card Create</li>
        <li class="sub_tab" onclick="location.href='{{ path('custom_card_vote_show') }}'">Custom Card Vote</li>
    </ul>
{% endblock %}

{% block dynamic_container %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 text-center">
                <h1>Select custom character cards ready for voting</h1>
            </div>
        </div>

        {% for card in cards %}
            {% if card.dateAccepted == null %}
                {% set imagePath = custom_char_card_dir ~'/'~ card.imageFile %}
                <div class="custom-card mb-5">
                    <div class="row">
                        <div class="col-6">
                            {{ macros.charCard(card, imagePath) }}
                        </div>
                        <div class="card-functions">
                            <div class="col-6">
                                <div class="row align-middle">
                                    <a href="#" class="confirmAccept"
                                       data-url="{{ path('custom_card_select_accept', {'cardId': card.id}) }}">
                                        <i class="fas fa-plus fa-5x"></i>
                                    </a>
                                </div>
                                <div class="row align-middle">
                                    <a href="#" class="confirmRemove"
                                       data-url="{{ path('custom_card_select_remove', {'cardId': card.id}) }}">
                                       <i class="fas fa-minus fa-5x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/custom-card.js') }}" ></script>
{% endblock %}