{% extends 'homepage.html.twig' %}

{% block battle_tab %}
    <li class="tab"><a class="current" href="{{ path('app_battle') }}">Battle<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}

    <ul class="sub_tabs">
        <li class="sub_tab current" onclick="location.href='{{ path('app_battle') }}'">Find Game</li> {# Find Game is default current sub-tab #}
        <li class="sub_tab" onclick="location.href='{{ path('app_my-battle-leaderboard') }}'">Leaderboard</li>
    </ul>
{% endblock %}

{% block dynamic_container %}

    <div>
        <div class="search_player rounded">
            <h3 style="text-align: center">Find Players to Battle</h3>
            {% set lowerBound = userStats.userRank - 2 %}
            {% set upperBound = userStats.userRank + 2 %}

            {% for user_stat in otherUserStats %}
                {% if user_stat.userRank in range(lowerBound, upperBound) %}
                    <ul class="player_list">
                        {#<li onclick="sendRequest(this)">{{ user_stat.user}} <br> Rank: {{ user_stat.userRank }} Level: {{ user_stat.userLevel }}</li>#}
                        <li data-toggle="modal" data-target="#playerModal" data-name="{{ user_stat.user }}"
                            onclick="showPlayerPopup(this)">
                            <div class="li_rank">Rank: {{ user_stat.userRank }}</div>
                            <div class="li_lvl">Level: {{ user_stat.userLevel }}</div>{{ user_stat.user }}
                        </li>
                    </ul>

                {% endif %}
            {% endfor %}
        </div>

        <div class="requests rounded">
            <h3 style="text-align: center">Requests</h3>
            <nav style="margin-left: 1%; margin-right: 1%" class="">

                <div class="request_tab">
                    <li class="request_tab_current request_tab_color"
                        onclick="requestTabs('Received'); requestTabCurrent(this)">Received
                    </li>
                    <li class="request_tab_color" onclick="requestTabs('Sent'); requestTabCurrent(this)">Sent</li>
                </div>

                <div id="Received" class="w3-container request_tab_content">
                    {% for received in receivedBattles %}
                        <ul class="request_list">
                            <li data-toggle="modal" data-target="#playerModal" data-name="{{ received[0].attacker }}" data-name2 = "{{ received[0].id }}" onclick="showReceivedPopup(this)">
                                <div>Rank: {{ received.user_rank }}</div>
                                <div> Level: {{ received.user_level }}</div>
                                <div>{{ received[0].attacker }}</div>
                                <div>Request ID: {{ received[0].id }}</div>
                            </li>
                        </ul>
                    {% endfor %}

                </div>

                <div id="Sent" class="w3-container request_tab_content" style="display:none">

                    {% for sent in sentBattles %}
                        <ul class="request_list">
                            <li>
                                <div>Rank: {{ sent.user_rank }}</div>
                                <div>Level: {{ sent.user_level }}</div>
                                <div>{{ sent[0].defender }}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>

            </nav>

        </div>

        <!-- The Modal -->
        <div class="modal" id="playerModal">
            <div class="modal-dialog" style="max-width: none; width: 40%;">
                <div class="modal-content custom">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="request_error" style="color: red"></label>
                        <button id="requestButton" data-name="" type="button" class="btn btn-normal"
                                onclick="beginRequest(this);">Loading...
                        </button>
                        <button style="display: none;" id="declineButton" data-request="" type="button" class="btn btn-normal"
                                onclick="">Loading...
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}
