{% extends 'homepage.html.twig' %}

{% block profile_tab %}
    <li class="tab" ><a class="current" href="{{ path('app_my-profile') }}">Profile<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab current" onclick="location.href='{{ path('app_my-profile') }}'" >Stats</li> {# stats is default current sub-tab #}
        <li class="sub_tab" onclick="location.href='{{ path('app_history-ajax', {'type':'best'}) }}'">Battle History</li>
        <li class="sub_tab" onclick="location.href='{{ path('app_my-profile-achieve') }}'">Achievements</li>
        <li class="sub_tab" onclick="location.href='{{ path('app_my-profile-edit') }}'">Edit Profile</li>
    </ul>
{% endblock %}

{% block sub_sub_tabs %}
{% endblock %}

{% block dynamic_container %}


    {% import 'macros/card.html.twig' as macros %}
    {#Profile Stats #}
    <div class="profile_column">
        {#Profile Image, Level, Progression #}
        <div class="profile_info">

            <div style="cursor: pointer"  onclick="location.href='{{ path('app_my-profile-edit') }}'" class="profile_name">{{ user_name }}</div>
            <img style="cursor: pointer" onclick="location.href='{{ path('app_my-profile-edit') }}'" src="{{ profile_pic }}"
                 class="profile_img">
            <div class="profile_level">
                <span>{{ user_stat.userLevel }}</span>
                LVL
            </div>
            <div class="progress_container">
                <label>{{ user_stat.userLevel }}</label>
                    <div class="progress profile_progress">
                        <div class="progress-bar profile_progress_bar" style="width:{{ level_progress }}%"></div>
                    </div>
                <label>{{ user_stat.userLevel + 1 }}</label>
            </div>
        </div>
        {#Rank #}
        <div class="profile_rank">
            <span>{{ user_rank }}</span>
            RANK
        </div>
    </div>

    {#Card Stats #}
    <div class="profile_column" style="overflow-y: auto">

        {% if not render_card_stats %}
            <p style="text-align: justify">Complete Battles to view which of your cards perform the best (and worst) down below!</p>
        {% endif %}
        <h4 class="header-center">FAVORITE CHARACTER</h4>

        {% if render_card_stats %}
            <div class="container" style="margin-bottom: 22%;" data-html="true" data-toggle="tooltip" data-placement="bottom"
                 title="Enemy Cards Defeated: {{ fav_user_char_card.getCardKill }}<br>
                    Times Defeated: {{ fav_user_char_card.getCardDeath }}<br>
                    Times Used: {{ fav_user_char_card.getCardUses }}">
                {% set imagePath = char_card_dir~'/'~ fav_char_img %}
                {{ macros.charCard(fav_char, imagePath) }}
            </div>
        {% endif %}

        <h4 class="header-center">FAVORITE UTILITY</h4>

        {% if render_card_stats %}

            <div class="container" style="margin-bottom: 22%;" data-html="true" data-toggle="tooltip" data-placement="bottom"
                 title="Times Used: {{ fav_user_util_card.getCardUses }}" >
                {% set imagePath = util_card_dir~'/'~ fav_util_img %}

                {{ macros.utilCard(fav_util, fav_attr_mod, imagePath) }}
            </div>
        {% endif %}

        <h4 class="header-center">WORST CHARACTER</h4>

        {% if render_card_stats %}
            <div class="container" style="margin-bottom: 22%;" data-html="true" data-toggle="tooltip" data-placement="bottom"
                 title="Enemy Cards Defeated: {{ worst_user_char_card.getCardKill }}<br>
                    Times Defeated: {{ worst_user_char_card.getCardDeath }}<br>
                    Times Used: {{ worst_user_char_card.getCardUses }}">
                {% set imagePath = char_card_dir~'/'~ worst_char_img %}

                {{ macros.charCard(worst_char, imagePath) }}
            </div>

        {% endif %}

        <h4 class="header-center" >WORST UTILITY</h4>

        {% if render_card_stats %}
            <div class="container" style="margin-bottom: 22%;" data-html="true" data-toggle="tooltip" data-placement="bottom"
                 title="Times Used: {{ worst_user_util_card.getCardUses }}" >
                {% set imagePath = util_card_dir~'/'~ worst_util_img %}

                {{ macros.utilCard(worst_util, worst_attr_mod, imagePath) }}
            </div>
        {% endif %}

    </div>

    {#Battle Stats #}
    <div class="profile_column">
        <h4 class="header-center">BATTLE STATISTICS</h4>
        <ul class="stat_list">
            <li><label>WIN/LOSS</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.winLossRatio }}</li>
            <li><label>WINS</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.matchesWon }}</li>
            <li><label>LOSSES</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.matchesLost }}</li>
            <li><label>TOTAL</label>&nbsp&nbsp&nbsp&nbsp{{ total_matches }}</li>
            <li><label>ATTACKS</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.timesAttacked }}</li>
            <li><label>DEFENSES</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.timesAttacked }}</li>
        </ul>
    </div>
{% endblock %}