{% extends 'homepage.html.twig' %}

{% block profile_tab %}
    <li class="tab" ><a class="current" href="{{ path('app_my-profile') }}">Profile<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab current" onclick="location.href='{{ path('app_my-profile') }}'" >Stats</li> {# stats is default current sub-tab #}
        <li class="sub_tab" onclick="location.href='{{ path('app_my-profile') }}'">Battle History</li>
        <li class="sub_tab" onclick="location.href='{{ path('app_my-profile') }}'">Achievements</li>
        <li class="sub_tab" onclick="location.href='{{ path('app_my-profile-edit') }}'">Edit Profile</li>
    </ul>
{% endblock %}

{% block dynamic_container %}

    {% import 'macros/card.html.twig' as macros %}
    {#Profile Stats #}
    <div class="profile_column">
        {#Profile Image, Level, Progression #}
        <div class="profile_info">

            <div class="profile_name">{{ user_name }}</div>
            <img src="{{ profile_pic }}"
                 class="profile_img">
            <div class="profile_level">
                <span>{{ user_stat.getUserLevel }}</span>
                LVL
            </div>

            <div class="progress profile_progress">
                <div class="progress-bar profile_progress_bar" style="width:{{ level_progress }}%"></div>
            </div>

        </div>
        {#Rank #}
        <div class="profile_rank">
            <span>{{ user_stat.getUserRank }}</span>
            RANK
        </div>
    </div>

    {#Card Stats #}
    <div class="profile_column" style="overflow-y: auto">

        {% if not render_card_stats %}
            <p style="text-align: justify">Complete Battles to view which of your cards perform the best (and worst) down below!</p>
        {% endif %}
        <h4 class="header-center">FAVORITE CHARACTER</h4>

        {% if render_card_stats %}
            <div class="container">
                {{ macros.charCard(fav_char, fav_char_img) }}
            </div>

            <button type="button" style="margin: 5% 0 0 36%;" class="btn btn-normal" data-trigger="focus" data-placement="top" data-toggle="popover" title="{{ fav_char.getCharName }}" data-content=
            "Enemy Cards Defeated: {{ fav_user_char_card.getCardKill }} -------------
        Times Defeated: {{ fav_user_char_card.getCardDeath }} ---------------------
        Times Used: {{ fav_user_char_card.getCardUses }} -------------------------">
                View Details</button>
        {% endif %}

        <h4 class="header-center">FAVORITE UTILITY</h4>

        {% if render_card_stats %}

            <div class="container">
                {{ macros.utilCard(fav_util, fav_attr_mod, fav_util_img) }}
            </div>

            <button type="button" style="margin: 5% 0 0 36%;" class="btn btn-normal" data-trigger="focus" data-placement="top" data-toggle="popover" title="{{ fav_util.getUtilName }}" data-content=
            "Times Used: {{ fav_user_util_card.getCardUses }}">
                View Details</button>
        {% endif %}

        <h4 class="header-center">WORST CHARACTER</h4>

        {% if render_card_stats %}
            <div class="container">
                {{ macros.charCard(worst_char, worst_char_img) }}
            </div>

            <button type="button" style="margin: 5% 0 0 36%;" class="btn btn-normal" data-trigger="focus" data-placement="top" data-toggle="popover" title="{{ worst_char.getCharName }}" data-content=
            "Enemy Cards Defeated: {{ worst_user_char_card.getCardKill }} -------------
        Times Defeated: {{ worst_user_char_card.getCardDeath }} ---------------------
        Times Used: {{ worst_user_char_card.getCardUses }} ------------------------- ">
                View Details</button>

        {% endif %}

        <h4 class="header-center" >WORST UTILITY</h4>

        {% if render_card_stats %}
            <div class="container">
                {{ macros.utilCard(worst_util, worst_attr_mod, worst_util_img) }}
            </div>

            <button type="button" style="margin: 5% 0 0 36%;" class="btn btn-normal" data-trigger="focus" data-placement="top" data-toggle="popover" title="{{ worst_util.getUtilName }}" data-content=
            "Times Used: {{ worst_user_util_card.getCardUses }}">
                View Details</button>
        {% endif %}

    </div>

    {#Battle Stats #}
    <div class="profile_column">
        <h4 class="header-center">BATTLE STATISTICS</h4>
        <ul class="stat_list">
            <li><label>WIN/LOSS</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.winLossRatio }}</li>
            <li><label>WINS</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.matchesWon }}</li>
            <li><label>LOSSES</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.matchesLost }}</li>
            <li><label>TOTAL</label>&nbsp&nbsp&nbsp&nbsp{{ total_matches }}</li>
            <li><label>ATTACKS</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.timesAttacked }}</li>
            <li><label>DEFENSES</label>&nbsp&nbsp&nbsp&nbsp{{ user_stat.timesAttacked }}</li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>
{% endblock %}