{% extends 'base.html.twig' %}

{% block title %}User Decks{% endblock %}
{% block body %}


    <div class="container-fluid">
        <h1 class="text-center">Character Decks</h1>

        <div class="row">
            {% for charDecks in userDecks %}

                <div class="card p-3 col-3 js-deck-item">
                    <div class="card-header text-info text-center">
                        {{ charDecks.name }}
                    </div>
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h5>Cards in the deck</h5>
                        </div>
                        <blockquote class="blockquote text-muted">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ charDecks.card1.charCard.charName }} - {{ charDecks.card1.charCard.charTier }}</li>
                                <li class="list-group-item">{{ charDecks.card2.charCard.charName }} - {{ charDecks.card2.charCard.charTier }}</li>
                                <li class="list-group-item">{{ charDecks.card3.charCard.charName }} - {{ charDecks.card3.charCard.charTier }}</li>
                                <li class="list-group-item">{{ charDecks.card4.charCard.charName }} - {{ charDecks.card4.charCard.charTier }}</li>
                                <li class="list-group-item">{{ charDecks.card5.charCard.charName }} - {{ charDecks.card5.charCard.charTier }}</li>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="card-body">
                        <a href="#"
                           class="list-group-item list-group-item-action list-group-item-danger text-center js-deck-remove"
                           data-url="{{ path('user_decks_delete',{
                               'id': charDecks.id
                           }) }}">
                            <span>
                                <i class="fas fa-trash-alt"></i> Delete
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %}

            <div class="col-3" style="margin-top: 6%; margin-left: 8%; margin-bottom: 7%">
                <a href="{{ path('user_decks_new') }}" title="Add new deck" style="margin-top: 15%;margin-left: 6%;"><i class="fas fa-plus fa-7x"></i></a>
            </div>

        </div>
    </div>


{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.js-deck-remove').on('click', function (e) {
                e.preventDefault();

                $el = $(this).closest('.js-deck-item');

                $(this).find('.fa-trash-alt')
                    .removeClass('fa-trash-alt')
                    .addClass('fa-spinner')
                    .addClass('fa-spin')
                $.ajax({
                    url: $(this).data('url'),
                    method: 'POST',
                    error: function () {
                        location.reload();
                    },
                }).done(function () {
                    $el.fadeOut();
                    setTimeout(function () {
                        location.reload();
                    }, 500)

                });
            });

        });
    </script>
{% endblock %}