{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <h2>Character cards got: </h2>
        {% for charCard in charCards %}
            <li> {{ charCard.charName }} : {{ charCard.charTier }}</li>
        {% endfor %}

        <h2>Utility cards got: </h2>

        {% for utilCard in utilCards %}
            <li> {{ utilCard.utilName }} : {{ utilCard.utilTier }}</li>
        {% endfor %}

        {% if coins >0 %}
            <h2> {{ coins }} coins </h2>
        {% endif %}
    </ul>



{% endblock %}