{% extends 'homepage.html.twig' %}
{% import 'macros/card.html.twig' as macros %}
{% trans_default_domain 'cbs' %}

{% block title %}User Cards{% endblock %}

{% block inventory_tab %}
    <li class="tab">
        <a class="current" href="{{ path('show_user_cards') }}">Inventory<span class="sr-only"></span></a>
    </li>
{% endblock %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab current" onclick="location.href='{{ path('show_user_cards') }}'">Cards</li>
        <li class="sub_tab" onclick="location.href='{{ path('user_decks_show') }}'">Decks</li>
        <li class="sub_tab" onclick="location.href='{{ path('custom_card') }}'">Custom Card Create</li>
        <li class="sub_tab" onclick="location.href='{{ path('custom_card_vote_show') }}'">Custom Card Vote</li>
    </ul>
{% endblock %}

{% block dynamic_container %}

    <div class="container-fluid">

        <h1 class="text-center">Show Cards</h1>

        <br>

        <div class="blockquote text-center text-info">
            You have {{ user.coins }} coins
        </div>

        <h2 class="text-center">Char Cards</h2>

        <div class="row" id="char card">
            {% for i in charCard %}
                {% set imagePath = char_card_dir ~'/'~ i.charCard.avatar.imagePath %}
                <div class="col-4">
                    <div class="card js-card-item" style="background-color: inherit;height: 400px; margin-top: 5%;">
                        <div class="card-header text-dark text-center">
                            {{ 'cards.number_of_cards'|trans }}: {{ i.cardCount }}
                        </div>
                        {{ macros.charCard(i.charCard, imagePath) }}
                        <div class="card-functions">
                            <a href="#"
                               class="list-group-item list-group-item-action list-group-item-danger  text-center js-card-remove"
                               style="background-color: inherit;"
                               data-url="{{ path('sell_user_char_card',{
                                   cardId: i.charCard.id,
                               }) }}">
                                <span><i class="far fa-money-bill-alt"></i> {{ i.charCard.price/2 }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <h2 class="text-center">Util Cards</h2>

        <div class="row" id="util card">
            {% for i in utilCard %}
                {% set imagePath = util_card_dir ~'/'~ i.utilCard.avatar.imagePath %}
                <div class="col-4">
                    <div class="card js-card-item" style="background-color: inherit">
                        <div class="card-header text-dark text-center">
                            {{ 'cards.number_of_cards'|trans }}: {{ i.cardCount }}
                        </div>
                        {% set attributes = i.utilCard.attributeModifier | json_decode %}
                        {{ macros.utilCard(i.utilCard, attributes, imagePath ) }}
                        <div class="card-body">
                            <a href="#"
                               class="list-group-item list-group-item-action list-group-item-danger text-center js-card-remove"
                               data-url="{{ path('sell_user_util_card',{
                                   cardId: i.utilCard.id,
                               }) }}">
                                <span class="fa"><i class="far fa-money-bill-alt"></i> {{ i.utilCard.price/2 }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.js-card-remove').on('click', function (e) {
                e.preventDefault();
                //Get the closest element to the link clicked
                $el = $(this).closest('.js-card-item');

                if (confirm_buy()) {
                    $(this).find('.fa-money-bill-alt')
                        .removeClass('fa-money-bill-alt')
                        .addClass('fa-spinner')
                        .addClass('fa-spin');
                    $.ajax({
                        url: $(this).data('url'),
                        method: 'POST',
                    }).done(function (data) {
                        $el.fadeOut();
                        if (data.success === true) {
                            window.location.href = data.url;
                        } else if (data.success === false) {
                            window.location.href = data.url;
                        }
                    }).fail(function (data) {
                        location.reload();
                    });
                }

            });
        });

        function confirm_buy() {
            return confirm('are you sure?');
        }
    </script>

{% endblock %}
