{% extends "tabs/battle.html.twig" %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab" onclick="location.href='{{ path('app_battle') }}'">Find Game
        </li> {# Find Game is default current sub-tab #}
        <li class="sub_tab current" onclick="location.href='{{ path('app_my-battle-leaderboard') }}'">Leaderboard</li>
    </ul>
{% endblock %}

{% block dynamic_container %}
    <div>
        <h3 class="leaderboard_title">Leaderboard</h3>
    </div>


    <div>
        {% for user_stat in stat %}

            {% set userColor = '' %}
            {% if user_stat.user == app.user %}
                {% set userColor = '#64E9EE' %}

            {% endif %}


            <ul style=" background-color: {{ userColor }}" class="leaderboard">
                <li data-toggle="modal" data-target="#playerModal" data-name="{{ user_stat.user }}"
                    onclick="showLeaderboardPopup(this)">
                    <div style="">
                        Rank: {{ rankNames[user_stat.user.getUsername] }}
                    </div>
                    <div id="user">
                        {{ user_stat.user }}
                    </div>
                    <div style="">
                        Level: {{ user_stat.userLevel }}
                    </div>
                </li>
            </ul>

        {% endfor %}

        <!-- The Modal -->
        <div class="modal fade" id="playerModal">
            <div class="modal-dialog">
                <div class="modal-content custom">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        {#<button id="requestButton" data-name="" type="button" class="btn btn-normal" onclick="beginRequest(this);" >Choose Decks to Battle</button>#}
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}