<div class="row">
    <div class="col">
        <h2 class="result_header">{{ result_text }}</h2>
        <h4>Rewards:</h4>
        <ul class="rewards_list">
            <li>Coins: {{ coins }}</li>
            <li>Experience: {{ experience }}</li>
        </ul>
        {{ level }}
    </div>
    <div class="col-7">
        <h4 style="text-align: center">Battle Report</h4>
        {{ battle_report|nl2br }}
    </div>
</div>