{% extends 'homepage.html.twig' %}

{% import "macros/card.html.twig" as macros %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/card-catalog.css') }}">
{% endblock %}

{% block market_tab %}
    <li class="tab" ><a class="current" href="{{ path('card_show_catalog') }}">Market<span class="sr-only"></span></a></li>
{% endblock %}

{% block sub_tabs %}
    <ul class="sub_tabs">
        <li class="sub_tab current" onclick="location.href='{{ path('card_show_catalog') }}'">Card Catalog</li>
        <li class="sub_tab" onclick="location.href='{{ path('card_packs') }}'">Card Packs</li>
    </ul>
{% endblock %}

{% block dynamic_container %}
    <div class="container">
        <div id="sort-bar" class="sortRating">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <button type="button" id="nameBtn" class="btn btn-primary">Name</button>
                        </div>
                        <div class="col-2">
                            <button type="button" id="typeBtn" class="btn btn-primary">Type</button>
                        </div>
                        <div class="col-2">
                            <button type="button" id="classBtn" class="btn btn-primary">Class</button>
                        </div>
                        <div class="col-2">
                            <button type="button" id="ratingBtn" class="btn btn-primary">Rating</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <button type="button" id="hpBtn" class="btn btn-primary">HitPoints</button>
                        </div>
                        <div class="col-2">
                            <button type="button" id="attBtn" class="btn btn-primary">Attack</button>
                        </div>
                        <div class="col-2">
                            <button type="button" id="defBtn" class="btn btn-primary">Defense</button>
                        </div>
                        <div class="col-2 col-offset-1 text-left">
                            <button type="button" id="ascBtn" class="icon-button"><span><i class="fas fa-arrow-alt-circle-up fa-2x"></i></span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <button type="button" id="lckBtn" class="btn btn-primary">Luck</button>
                        </div>
                        <div class="col-2">
                            <button type="button" id="agiBtn" class="btn btn-primary">Agility</button>
                        </div>
                        <div class="col-2">
                            <button type="button" id="spdBtn" class="btn btn-primary">Speed</button>
                        </div>
                        <div class="col-2 col-offset-1 text-left">
                            <button type="button" id="descBtn" class="icon-button"><span><i class="fas fa-arrow-alt-circle-down fa-2x"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 card-grid">
                {% if cards is defined %}
                    {% for card in cards %}
                        {% set imagePath = char_card_dir~'/'~card.avatar.imagePath %}
                        {% if loop.index0 is divisible by (3) %}
                            {% if loop.index0 != 0 %}
                                </div>
                            {% endif %}
                            <div class="row row-margin">
                        {% endif %}
                        <div class="col-4">
                            {{ macros.charCard(card, imagePath) }}
                            {{ card.id }}
                            <div class="text-center buy-options">
                                <i class="fas fa-money-bill-alt">
                                <span class="price">{{ card.price }}</span></i>
                                {% if is_granted('ROLE_USER') %}
                                    <a class="btn btn-link btn-normal js-card-buy"
                                       data-url="{{ path('inventory_buy_char', {
                                           card: card.id
                                       }) }}">Buy</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No cards found.
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/card-catalog.js') }}" ></script>

    <script>
        $(document).ready(function () {
            var tier = $('.character');
            console.log(tier);

            for(var i = 0; i < tier.length; i++) {
                console.log(tier[i].classList);
            }

            $('.js-card-buy').on('click', function (e) {

                if(confirm_buy()) {
                    e.preventDefault();

                    $.ajax({
                        url: $(this).data('url'),
                        method: 'POST',
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                            location.reload();
                        },
                        success: function () {
                            location.reload();
                        }

                    });
                }
            });

        });

        function confirm_buy() {
            return confirm('are you sure?');
        }
    </script>
{% endblock %}
