{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <ul>

                <h1>Show Cards</h1>

                <h2>Char Cards</h2>
                {% for i in user.userCharCards %}
                    <li class="js-card-item">  {{ i.charCard.charName }} {{ i.cardCount }}

                        <a href="#" class="btn btn-link btn-xs js-card-remove"
                           data-url="{{ path('sell_user_char_card',{
                               cardId: i.charCard.id,
                           }) }}">
                            <span><i class="fas fa-times"></i></span>
                        </a>

                    </li>

                {% endfor %}


                <h2>Util Cards</h2>

                {% for i in user.userUtilCards %}
                    <li class="js-card-item">  {{ i.utilCard.utilName }} {{ i.cardCount }}

                        <a href="#" class="btn btn-link btn-xs js-card-remove"
                           data-url="{{ path('sell_user_util_card',{
                               cardId: i.utilCard.id,
                           }) }}">
                            <span><i class="fas fa-times"></i></span>
                        </a>
                    </li>
                {% endfor %}

                <h2>Coins</h2>
                <p class="lead">You have {{ user.coins }} coins</p>
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.js-card-remove').on('click', function (e) {

                    e.preventDefault();
                    //Get the closest element to the link clicked
                    $el = $(this).closest('.js-card-item');

                    $(this).find('.fa-times')
                        .removeClass('fa-times')
                        .addClass('fa-spinner')
                        .addClass('fa-spin')

                    $.ajax({
                        url: $(this).data('url'),
                        method: 'DELETE',
                        success: function () {
                            location.reload();
                        }
                    }).done(function () {
                        $el.fadeOut();
                    });
            });
        });

        function confirm_buy() {
            return confirm('are you sure?');
        }
    </script>

{% endblock %}
