{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <ul>

                <h1>Show Cards</h1>

                <h2>Char Cards</h2>
                {% for i in user.userCharCards %}
                    <li class="js-card-item">  {{ i.charCard.charName }} {{ i.cardCount }}

                        <a href="#" class="btn btn-link btn-xs js-card-remove"
                           data-url="{{ path('sell_user_char_card',{
                               cardId: i.charCard.id,
                           }) }}">
                            <span><i class="fas fa-times"></i></span>
                        </a>

                    </li>

                {% endfor %}


                <h2>Util Cards</h2>

                {% for i in user.userUtilCards %}
                    <li class="js-card-item">  {{ i.utilCard.utilName }} {{ i.cardCount }}

                        <a href="#" class="btn btn-link btn-xs js-card-remove"
                           data-url="{{ path('sell_user_util_card',{
                               cardId: i.utilCard.id,
                           }) }}">
                            <span><i class="fas fa-times"></i></span>
                        </a>
                    </li>
                {% endfor %}

                <h2>Decks</h2>

                <h3>Char Decks</h3>

                {% for i in user.userCharDecks %}
                    {{ i.name }}
                    <li>{{ i.card1.charCard.charName }}</li>
                    <li>{{ i.card2.charCard.charName }}</li>
                    <li>{{ i.card3.charCard.charName }}</li>
                    <li>{{ i.card4.charCard.charName }}</li>
                    <li>{{ i.card5.charCard.charName }}</li>
                {% endfor %}

                <h3>Util Decks</h3>

                {% for i in user.userUtilDecks %}
                    {{ i.name }}
                    <li>{{ i.card1.utilCard.utilName }}</li>
                    <li>{{ i.card2.utilCard.utilName }}</li>
                    <li>{{ i.card3.utilCard.utilName }}</li>
                {% endfor %}


            </ul>


        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.js-card-remove').on('click', function (e) {
                e.preventDefault();
                $el = $(this).closest('.js-card-item');

                $(this).find('.fa-times')
                    .removeClass('fa-times')
                    .addClass('fa-spinner')
                    .addClass('fa-spin')

                $.ajax({
                    url: $(this).data('url'),
                    method: 'DELETE',
                    success: function () {
                        location.reload();
                    }
                }).done(function () {
                    $el.fadeOut();
                })

            });
        });
    </script>

{% endblock %}
