{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <ul>

                <h1>Show Cards</h1>

                <h2>Char Cards</h2>
                {% for i in charCards.userCharCards %}
                    <li>  {{ i.charCard.charName }}</li>
                {% endfor %}


                <h2>Util Cards</h2>

                {% for i in charCards.userUtilCards %}
                    <li>  {{ i.utilCard.utilName }}</li>
                {% endfor %}

                <h2>Decks</h2>

                <h3>Char Decks</h3>

                {% for i in charCards.userCharDecks %}
                    {{ i.name }}
                    <li>{{ i.card1.charCard.charName }}</li>
                    <li>{{ i.card2.charCard.charName }}</li>
                    <li>{{ i.card3.charCard.charName }}</li>
                    <li>{{ i.card4.charCard.charName }}</li>
                    <li>{{ i.card5.charCard.charName }}</li>
                {% endfor %}

                <h3>Util Decks</h3>

                {% for i in charCards.userUtilDecks %}
                    {{ i.name }}
                    <li>{{ i.card1.utilCard.utilName }}</li>
                    <li>{{ i.card2.utilCard.utilName }}</li>
                    <li>{{ i.card3.utilCard.utilName }}</li>
                {% endfor %}


            </ul>





        </div>
    </div>

{% endblock %}
